@model IEnumerable<testNextsol.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/_LayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateUsers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desciption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTimeEntered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desciption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTimeEntered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateUsers", new { id=item.UserId }) |
            @Html.ActionLink("Delete ", "DeleteUsers", new { id = item.UserId }, new { @class = "fa fa-remove", @style = "color:#2a3f54", onclick = "return confirm('Are you sure you wish to delete this record?');" }) &nbsp;&nbsp;&nbsp;
        </td>
    </tr>
}

</table>
